* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0%; }

body {
  background-color: #1ba083; }

/* Seccion 1: Pagina de inicio */
.container-index {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  .container-index .navbar-toggler {
    border-radius: 5px; }
  .container-index .navbar {
    background: #1e6959; }
  .container-index .img-nav {
    width: 30px;
    margin-right: 20px;
    border-radius: 100px; }
  .container-index .dropdown-toggle img {
    width: 20px;
    margin: 5px; }
  .container-index .dropdown-menu {
    background-color: #035e4a; }
    .container-index .dropdown-menu img {
      width: 20px;
      margin: 5px;
      border-radius: 100px; }
  .container-index .img-main {
    width: 450px; }
    @media screen and (max-width: 576px) {
      .container-index .img-main {
        width: 300px; } }
    @media screen and (max-width: 320px) {
      .container-index .img-main {
        width: 250px; } }
  .container-index .main-index {
    text-align: center;
    padding: 25px; }
  .container-index .aside-index {
    padding: 25px; }
    .container-index .aside-index ul {
      list-style-type: none; }
    .container-index .aside-index ul li {
      padding-bottom: 20px; }
  .container-index .img-aside {
    width: 100%; }
  .container-index .col-index1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  .container-index .col-index2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container-index .footer-index {
    padding: 10px;
    background-color: #1e6959;
    height: 150px;
    align-items: center; }
    .container-index .footer-index span {
      color: #859e9d; }
    .container-index .footer-index ul {
      margin: 0;
      padding: 0;
      outline: none;
      color: #859e9d;
      list-style-type: none; }
    .container-index .footer-index .ubicacion-footer {
      padding: 10px; }
    .container-index .footer-index .ubicacion-footer a {
      transition-property: font-size;
      transition-duration: 0.5s;
      color: #859e9d;
      text-decoration: none; }
    .container-index .footer-index .ubicacion-footer a:hover {
      font-size: 18px; }
    .container-index .footer-index .whatsapp-footer {
      padding: 10px; }
    .container-index .footer-index .ubicacion-footer img {
      width: 35px;
      transition-property: width;
      transition-duration: 0.5s; }
    .container-index .footer-index .ubicacion-footer img:hover {
      width: 35px; }
    .container-index .footer-index .whatsapp-footer img {
      width: 25px;
      border-radius: 100px; }
    .container-index .footer-index .sociales li {
      margin: 10px;
      float: left; }
    .container-index .footer-index .sociales img {
      transition-property: width;
      transition-duration: 0.5s;
      width: 30px;
      border-radius: 100px; }
    .container-index .footer-index .sociales img:hover {
      width: 35px; }

/* Seccion 2: turnos online */
.header-turnos .navbar {
  background: #1e6959; }

.header-turnos .dropdown-menu {
  background-color: #035e4a; }

.header-turnos img {
  width: 20px;
  margin-right: 10px;
  border-radius: 100px; }

.container-turnos {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .container-turnos .col-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: #e2dddd; }
  .container-turnos .form-turnos {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 20px; }
    .container-turnos .form-turnos input {
      width: 100%;
      padding: 6px;
      margin: 6px;
      border: none;
      border-bottom: 3px solid #035e4a;
      background: transparent;
      outline: none; }
  .container-turnos .col-imgform {
    flex: 1;
    padding: 10px;
    display: flex; }
    .container-turnos .col-imgform img {
      width: 200px;
      margin: auto;
      border-radius: 50%;
      background-color: #fff;
      padding: 20px; }

.containerturnos-footer .col-index1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.containerturnos-footer .col-index2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.containerturnos-footer .footer-index {
  padding: 10px;
  background-color: #035e4a;
  height: 150px; }
  .containerturnos-footer .footer-index span {
    color: #859e9d; }
  .containerturnos-footer .footer-index ul {
    margin: 0;
    padding: 0;
    outline: none;
    color: #859e9d;
    list-style-type: none; }
  .containerturnos-footer .footer-index .ubicacion-footer {
    transition-delay: 0.5s;
    padding: 10px; }
    .containerturnos-footer .footer-index .ubicacion-footer a {
      text-decoration: none;
      color: #859e9d;
      transition-property: font-size;
      transition-duration: 0.5s; }
    .containerturnos-footer .footer-index .ubicacion-footer a:hover {
      font-size: 18px; }
  .containerturnos-footer .footer-index .whatsapp-footer {
    padding: 10px; }
  .containerturnos-footer .footer-index .ubicacion-footer img {
    width: 30px;
    border-radius: 100px; }
  .containerturnos-footer .footer-index .ubicacion-footer img:hover {
    font-size: 1.4em; }
  .containerturnos-footer .footer-index .whatsapp-footer img {
    width: 25px;
    border-radius: 100px; }
  .containerturnos-footer .footer-index .sociales li {
    margin: 10px;
    float: left; }
  .containerturnos-footer .footer-index .sociales img {
    transition-property: width;
    transition-duration: 0.5s;
    width: 30px;
    border-radius: 100px; }
  .containerturnos-footer .footer-index .sociales img:hover {
    width: 35px; }

/* Seccion 3: Tratamientos */
.container-tratamientos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  text-align: center; }

.navbar-brand img {
  width: 30px;
  margin-right: 20px; }

.col-tratamientos {
  border: 1px solid black;
  width: 600px;
  height: 500px;
  margin: 50px; }

.tratamientos-footer {
  display: flex;
  flex-direction: column;
  align-content: center; }
  .tratamientos-footer .sociales {
    text-align: center; }
    .tratamientos-footer .sociales img {
      float: left;
      margin: 20px; }
  .tratamientos-footer img {
    width: 30px; }
  .tratamientos-footer ul {
    list-style-type: none; }
  .tratamientos-footer a {
    text-decoration: none;
    color: black; }
