$spacing: 10px;
$ancho: 450px;
$alto: 500px;

* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(26, 165, 146);
}

/* Seccion 1: Pagina de inicio */

.container-index {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .navbar {
        border-bottom: 1px solid black;
    }

    .col-index {
        border: none;
    }
    
    .img-main {
        width: $ancho;

        @media screen and (max-width: 576px) {
            width: 300px;
        }

        @media screen and (max-width: 320px) {
            width: 250px;
        }
    }

    .main-index {
        text-align: center;
        padding: 10px 10px;
    }

    .img-aside {
        width: 100%;
        height: 100%;
    }

    .footer-index {
        padding: 10px;
        text-align: center;
        background-color: rgba(34, 139, 118, 0.747);
        height: 150px;

        ul {
            list-style-type: none;
        }

        .ubicacion-footer {
            padding: $spacing;
        }

        .whatsapp-footer {
            padding: $spacing;
        }

        .ubicacion-footer img {
            width: 30px;
        }

        .whatsapp-footer img {
            width: 30px;
        }

        .facebook-index {
            padding: 10px;
            text-align: center;
        }

        .instagram-index {
            padding: 10px;
            text-align: center; 
        }

        .facebook-index img {            
            width: 30px;
        }

        .instagram-index img {
            width: 30px;
        }
    }
}


