$spacing: 10px;
$ancho: 450px;
$alto: 500px;

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(72, 184, 146);
}

/* Seccion 1: Pagina de inicio */

.container-index {
    padding: $spacing;
    

    .col-index {
        border: 1px solid black;
    }

   /* .main-index {

    }*/
    
    .img-main {
        width: $ancho;

        @media screen and (max-width: 576px) {
            width: 300px;
        }

        @media screen and (max-width: 320px) {
            width: 250px;
        }
    }

    .main-index {
        text-align: center;
        margin: auto;
        padding: 10px 10px;
    }

    .img-aside {
        width: 100%;
        height: 100%;
    }

    .footer-index {
        height: 150px;
    }
}

.info-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;

    img {
        align-content: center;

        width: $spacing*3;
        margin-top: 0;
    }
}
