$spacing: 10px;
$ancho: 450px;
$alto: 500px;
$color: #1ba083;
$color2: #c2c2c2;
$navcolor: #1e6959;
$color3: #ffffff;

* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0%;
}

body {
    background-color: $color;
}

/* SECCION 1: HOMBE */

.container-index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    .navbar-toggler {        
        border-radius: 5px;
    }

    .navbar {
        background: #1e6959;
    }

    .img-nav {
        width: $spacing*3;
        margin-right: 20px;
        border-radius: 100px;
    }

    .dropdown-toggle {
        img {
            width: 20px;
            margin: 5px;
        }
    }

    .dropdown-menu {
        background-color: #035e4a;

        img {
            width: 20px;
            margin: 5px;
            border-radius: 100px;
        }
    }

    .img-main {
        width: $ancho;

        @media screen and (max-width: 576px) {
            width: 300px;
        }

        @media screen and (max-width: 320px) {
            width: 250px;
        }
    }

    .main-index {
        text-align: center;
        padding: 25px
    }

    .aside-index {
        padding: 25px;

        ul {
            list-style-type: none;
        }

        ul li {
            padding-bottom: 20px;            
        }
    }

    .img-aside {        
        width: 100%;
    }

    .col-index1 {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .col-index2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-index {
        padding: 10px;
        background-color: #1e6959;
        height: 150px;
        align-items: center;

        span {
            color: $color3;
        }

        ul {
            margin: 0;
            padding: 0;
            outline: none;
            color: $color3;
            list-style-type: none;
        }

        .ubicacion-footer {
            padding: $spacing;
        }

        .ubicacion-footer a {
            transition-property: font-size;
            transition-duration: 0.5s;
            color: $color3;
            text-decoration: none;
        }

        .ubicacion-footer a:hover {
            font-size: 18px;
        }

        .whatsapp-footer {
            padding: $spacing;
        }

        .ubicacion-footer img {
            width: 35px;
            transition-property: width;
            transition-duration: 0.5s;
        }

        .ubicacion-footer img:hover {
            width: 35px;
        }

        .whatsapp-footer img {
            width: 25px;
            border-radius: 100px;
        }

        .sociales {
            li {
                margin: 10px;
                float: left;
            }

            img {
                transition-property: width;
                transition-duration: 0.5s;
                width: 30px;
                border-radius: 100px;
            }

            img:hover {
                width: 35px;
            }
        }
    }
}

/* SECCION 2: TURNOS ONLINE */

.flex-turnos {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;

        .form-turnos {
            img {
                width: 200px;
            }
        }
    }

    .header-turnos {
        img {
            width: $spacing*3;
        margin-right: 20px;
        border-radius: 100px;
        }
    }

    .dropdown-menu {

        background: #035e4a;

        img {
            width: 20px;
        }
    }

    h1 {
        text-align: center;
        margin: 50px;
    }
}

.main-turnos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: radial-gradient(#23836e, #2e635d);
    margin: 20px 50px 80px 50px;

    .form-turnos {
        min-width: 400px;
        padding: 30px 0px;
        margin: 80px 0px;
        text-align: center;
    }

    input {
        min-width: 100px;
        margin: 7px 0px;
        border: none;
        border-bottom: #c2c2c2 1px solid;
        background: transparent;
        color: #8d9e9c;
        outline: none;
        text-align: center;
    }

    input:focus {
        background: linear-gradient(to bottom, transparent, #2e635d);
    }

    img {
        margin: 80px 0px;
        max-width: 250px;
        width: 25%;
        }
    }    


.footer-turnos {
    padding: 10px;
    background: #1e6959;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px;
    align-content: center;
    justify-items: center;
    align-items: center;

    @media screen and (max-width: 576px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px;
    }

    .col-turnos1 {
        flex-grow: 1;
    }

    .col-turnos2 {
        flex-grow: 1;
    }

    span {
        color: $color3;
    }

    ul {
        margin: 0;
        padding: 0;
        outline: none;
        color: $color3;
        list-style-type: none;
    }

    .ubicacion-footer {
        padding: $spacing;
    }

    .ubicacion-footer a {
        transition-property: font-size;
        transition-duration: 0.5s;
        color: $color3;
        text-decoration: none;
    }

    .ubicacion-footer a:hover {
        font-size: 18px;
    }

    .whatsapp-footer {
        padding: $spacing;
    }

    .ubicacion-footer img {
        width: 35px;
        transition-property: width;
        transition-duration: 0.5s;
    }

    .ubicacion-footer img:hover {
        width: 35px;
    }

    .whatsapp-footer img {
        width: 25px;
        border-radius: 100px;
    }

    .sociales {

        li {
            margin: 10px;
            float: left;
        }

        img {
            transition-property: width;
            transition-duration: 0.5s;
            width: 30px;
            border-radius: 100px;
        }

        img:hover {
            width: 35px;
        }
    }
}


/* SECCION 3: TRATAMIENTOS */ 

.flex-tratamientos {
    display: flex;
    flex-flow: column wrap;

    .navbar-brand {
        img {
        width: $spacing*3;
        margin-right: 20px;
        border-radius: 100px;
        }
    }

    .dropdown-menu {

        background: #035e4a;

        img {
            width: 20px;
        }
    }

    .grid-tratamientos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 40px;
        grid-gap: 20px;

        @media screen and (min-width: 576px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;

            .items-tratamientos {
                border: 2px solid #c2c2c2;
                background: radial-gradient(#23836e, #2e635d);
            }
        }

        .items-tratamientos {
            border: 2px solid #c2c2c2;
            background: radial-gradient(#23836e, #2e635d);
            text-align: center;
            padding: 15px;
        }
    }

    .footer-tratamientos {

        padding: 10px;
        background: #1e6959;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 130px;
        align-content: center;
        justify-items: center;
        align-items: center;
    
        @media screen and (max-width: 576px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px 150px;
        }
    
        .col-tratamientos1 {
            flex-grow: 1;
        }
    
        .col-tratamientos2 {
            flex-grow: 1;
        }
    
        span {
            color: $color3;
        }
    
        ul {
            margin: 0;
            padding: 0;
            outline: none;
            color: $color3;
            list-style-type: none;
        }
    
        .ubicacion-footer {
            padding: $spacing;
        }
    
        .ubicacion-footer a {
            transition-property: font-size;
            transition-duration: 0.5s;
            color: $color3;
            text-decoration: none;
        }
    
        .ubicacion-footer a:hover {
            font-size: 18px;
        }
    
        .whatsapp-footer {
            padding: $spacing;
        }
    
        .ubicacion-footer img {
            width: 35px;
            transition-property: width;
            transition-duration: 0.5s;
        }
    
        .ubicacion-footer img:hover {
            width: 35px;
        }
    
        .whatsapp-footer img {
            width: 25px;
            border-radius: 100px;
        }
    
        .sociales {
    
            li {
                margin: 10px;
                float: left;
            }
    
            img {
                transition-property: width;
                transition-duration: 0.5s;
                width: 30px;
                border-radius: 100px;
            }
    
            img:hover {
                width: 35px;
            }
        }

    }
}

/* SECCION 4: CONSULTAS */ 

.flex-consultas {
    display: flex;
    flex-flow: column wrap;

    h1 {
        text-align: center;
        margin-top : 50px;
    }

    .navbar-brand {
        img {
        width: $spacing*3;
        margin-right: 20px;
        border-radius: 100px;
        }
    }

    .dropdown-menu {

        background: #035e4a;

        img {
            width: 20px;
        }
    }

    .grid-consultas {
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;        
        border: 2px solid #c9dad6;
        background: radial-gradient(#23836e, #2e635d);
        grid-gap: 30px;
        
        

        @media screen and (min-width: 576px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            height: 100vh;
            margin: 100px;
        }

        .main-consultas {
            justify-content: center;
        }


        .items-consultas {
            justify-self: center;
            align-self: center;
        }

        .boton {
            color: #c2c2c2;
            width: 120px;
            margin: 10px;
            padding: 3px;
            border: none;
            border-bottom: 2px solid #c9dad6;
            transition-property: all;
            transition-duration: 0.5s;
            background: none;
        }

        .boton:hover {
            background:#2e635d;
            width: 140px;
            height: 40px;
        }

        .form-consultas {
            margin: 20px;
            text-align: center;

            input {
                margin: 5px;
                width: 50%;
                min-width: 200px;
                border: none;
                border-bottom: 2px solid #c9dad6;
                background: none;
                color: #c2c2c2;
                outline: none;
            }

            input:focus {
                background: #2e635d;
            }

            textarea {
                margin: 5px;
                width: 50%;
                min-width: 200px;
                resize: none;
                border: none;
                border-bottom: 2px solid #c9dad6;
                background: none;
                color: #c2c2c2;
                outline: none;
            }

            textarea:focus {
                background: #2e635d;
            }
        }

        .img-consultas {
            width: 100%;
        }
    }
    

    .footer-consultas {

            padding: 10px;
            background: #1e6959;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 130px;
            align-content: center;
            justify-items: center;
            align-items: center;
        
            @media screen and (max-width: 576px) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 150px 150px;
            }
        
            .col-tratamientos1 {
                flex-grow: 1;
            }
        
            .col-tratamientos2 {
                flex-grow: 1;
            }
        
            span {
                color: $color3;
            }
        
            ul {
                margin: 0;
                padding: 0;
                outline: none;
                color: $color3;
                list-style-type: none;
            }
        
            .ubicacion-footer {
                padding: $spacing;
            }
        
            .ubicacion-footer a {
                transition-property: font-size;
                transition-duration: 0.5s;
                color: $color3;
                text-decoration: none;
            }
        
            .ubicacion-footer a:hover {
                font-size: 18px;
            }
        
            .whatsapp-footer {
                padding: $spacing;
            }
        
            .ubicacion-footer img {
                width: 35px;
                transition-property: width;
                transition-duration: 0.5s;
            }
        
            .ubicacion-footer img:hover {
                width: 35px;
            }
        
            .whatsapp-footer img {
                width: 25px;
                border-radius: 100px;
            }
        
            .sociales {
        
                li {
                    margin: 10px;
                    float: left;
                }
        
                img {
                    transition-property: width;
                    transition-duration: 0.5s;
                    width: 30px;
                    border-radius: 100px;
                }
        
                img:hover {
                    width: 35px;
                }
            }    
    }
}

/* SECCION 5: QUIENES SOMOS */

.flex-nosotros {
    display: flex;
    flex-flow: column wrap;

    h1 {
        padding: 10px;
        margin: 10px;
        color: #caddda;
    }

    .navbar-brand {
        img {
        width: $spacing*3;
        margin-right: 20px;
        border-radius: 100px;
        }
    }

    .dropdown-menu {

        background: #035e4a;

        img {
            width: 20px;
        }
    }

    .img-qs {
        justify-items: center;

        img {
            width: 100%;
            max-height: 487px;
        }
    }

    .main-nosotros {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 15px;

        @media screen and (min-width: 576px) {
            height: 100vh;
        }
    }

    .nosotros {
        margin: 20px;
        max-width: 550px;
        padding: 10px;
        border: 2px solid black;
        background: radial-gradient(#23836e, #2e635d);
        color: $color2;

        @media screen and (min-width: 576px) {
            padding: 20px;
        }
    }

    .footer-nosotros {

        padding: 10px;
        background: #1e6959;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 130px;
        align-content: center;
        justify-items: center;
        align-items: center;
    
        @media screen and (max-width: 576px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px 150px;
        }
    
        .col-nosotros1 {
            flex-grow: 1;
        }
    
        .col-nosotros2 {
            flex-grow: 1;
        }
    
        span {
            color: $color3;
        }
    
        ul {
            margin: 0;
            padding: 0;
            outline: none;
            color: $color3;
            list-style-type: none;
        }
    
        .ubicacion-footer {
            padding: $spacing;
        }
    
        .ubicacion-footer a {
            transition-property: font-size;
            transition-duration: 0.5s;
            color: $color3;
            text-decoration: none;
        }
    
        .ubicacion-footer a:hover {
            font-size: 18px;
        }
    
        .whatsapp-footer {
            padding: $spacing;
        }
    
        .ubicacion-footer img {
            width: 35px;
            transition-property: width;
            transition-duration: 0.5s;
        }
    
        .ubicacion-footer img:hover {
            width: 35px;
        }
    
        .whatsapp-footer img {
            width: 25px;
            border-radius: 100px;
        }
    
        .sociales {
    
            li {
                margin: 10px;
                float: left;
            }
    
            img {
                transition-property: width;
                transition-duration: 0.5s;
                width: 30px;
                border-radius: 100px;
            }
    
            img:hover {
                width: 35px;
            }
        }    


    }
}